@font-face {
  font-family: 'Barlow';
  src: url("../../assets/fonts/Barlow-ExtraLight.ttf");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url("../../assets/fonts/Barlow-ExtraLightItalic.ttf");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url("../../assets/fonts/Barlow-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: 'Barlow';
  src: url("../../assets/fonts/Barlow-Light.ttf");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url("../../assets/fonts/Barlow-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url("../../assets/fonts/Barlow-Italic.ttf");
  font-weight: 400;
  font-style: italic;

  font-display: swap;
}


@font-face {
  font-family: 'Barlow';
  src: url("../../assets/fonts/Barlow-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url("../../assets/fonts/Barlow-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url("../../assets/fonts/Barlow-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url("../../assets/fonts/Barlow-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url("../../assets/fonts/Barlow-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url("../../assets/fonts/Barlow-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}



