@font-face {
  font-family: 'Barlow Semi Condensed';
  src: url("../../assets/fonts/BarlowSemiCondensed-ExtraLight.ttf");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  src: url("../../assets/fonts/BarlowSemiCondensed-ExtraLightItalic.ttf");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  src: url("../../assets/fonts/BarlowSemiCondensed-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: 'Barlow Semi Condensed';
  src: url("../../assets/fonts/BarlowSemiCondensed-Light.ttf");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  src: url("../../assets/fonts/BarlowSemiCondensed-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  src: url("../../assets/fonts/BarlowSemiCondensed-Italic.ttf");
  font-weight: 400;
  font-style: italic;

  font-display: swap;
}


@font-face {
  font-family: 'Barlow Semi Condensed';
  src: url("../../assets/fonts/BarlowSemiCondensed-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  src: url("../../assets/fonts/BarlowSemiCondensed-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  src: url("../../assets/fonts/BarlowSemiCondensed-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  src: url("../../assets/fonts/BarlowSemiCondensed-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  src: url("../../assets/fonts/BarlowSemiCondensed-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  src: url("../../assets/fonts/BarlowSemiCondensed-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}



