@import 'core/vars';
@import 'transitions/slideIn';
@import 'fonts/BarlowSemiCondensed';
@import 'common/images.scss';
@import 'common/table.scss';
@import 'common/page-item.scss';
@import 'common/layout.scss';
@import 'common/typeography.scss';
@import 'common/page.scss';
@import 'mixins/border-color.scss';

#root {
  margin: 0;
  font-family: 'Barlow Semi Condensed';
}

body {
  background-color: $bg-color-accent2;
  padding: 0;
  margin: 0;
}
