@import 'core/vars';
@import 'transitions/slideIn';
@import 'fonts/_BaiJamjuree.scss';

#root {
  margin: 0;
  font-family: "Bai Jamjuree";
}

body {
  background-color: $bg-color-accent;
  padding: 0;
  margin: 0;
}
