.Filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  &__left {
    display: flex;
    align-items: flex-end;
    height: fit-content;

    > * {
      margin-right: 2rem;
    }
  }


}