@import 'core/vars';

.Navigation {
  display: inline-block;


  &__desktop {
    width: 10vw;
    min-width: 300px;
    height: 100vh;
    position: relative;


    > div {
      width: 10vw;
      min-width: 300px;
      position: fixed;
      height: 100vh;
      background-color: white;
      border-right: $border-color 1px solid;
      -webkit-box-shadow: 10px 0px 16px -12px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 10px 0px 16px -12px rgba(0, 0, 0, 0.15);
      box-shadow: 10px 0px 16px -12px rgba(0, 0, 0, 0.15);
      z-index: 1001;
      background: #8E2DE2;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to bottom, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to bottom, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    header {
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      //background-image: $bg-gradient;
    }

    &__container {
      display: block;
    }

    &__options {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &__item {
        font-weight: 500;
        cursor: pointer;
        display: flex;
        padding: 1rem 2rem;
        transition: all .2s linear;
        color: white;
        border-right: $primary-color 5px solid;
        justify-content: space-between;
        align-items: center;

        i {
          color: white;
        }

        &--selected {
          background-color: #634ac7;
          border-right-color: $secondary-color;

        }
      }

    }

  }

  &__mobile {
    width: 100vw;
    min-height: 40px;
    height: 7vh;
    display: flex;
    justify-content: flex-end;
    position: relative;

    header {
      position: absolute;
      top: 0;
      right: 50%;
      transform: translateX(50%);
    }

    &__menu-button {
      height: 100%;
      width: 50px;
      background-color: #333333;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      cursor: pointer;

      &__blocked {
        pointer-events: none;
      }
    }

    &__options-popover {
      right: 0;
      position: absolute;
      width: fit-content;
      height: fit-content;
      background-color: #021B79;
      transition: width .2s linear;

      @media (max-width: 400px) {
        width: 100vw;
      }
    }
  }
}
