@import 'core/vars';

.Location {
  display: flex;
  align-items: center;


  &__details {
    margin-left: .75rem;
    span {
      color:$text-color-light;
      font-weight: 400;
      font-size: .75em;
    }
    * {
      font-size: .8em;
      margin: 0;
      line-height: 4px;

    }
  }
}