@import 'core/vars';

$widget-height: 40px;

.Dropdown {
  position: relative;
  width: 180px;

  &__label {
    font-size: .8em;
    color: $light-grey;
    margin-bottom: .25rem;
  }

  &__widget {
    width: calc(100% - 2rem);
    border-radius: 5px;
    border: $border-color 1px solid;
    position: relative;
    cursor: pointer;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    transition: all .2s linear;
    max-height: $widget-height;
    min-height: $widget-height;

    i {
      transform: rotate(-90deg);
      transition: transform .2s linear;
    }

    p {
      font-weight: 400;
      font-size: .9em;
      margin: 0 !important;
    }

    span {
      font-size: .8em;
    }

    &--open {
      background-color: $primary-color;
      pointer-events: none;

      i {
        transform: rotate(0deg)
      }

      p, span, i {
        color: $text-color-invert;
      }
    }
  }

  &__overlay {
    border-radius: 5px;
    border: $border-color 1px solid;
    position: absolute;
    top: calc(#{$widget-height} + 2rem);
    width: 260px;
    max-height: 400px;
    z-index: 100;
    transition: max-height, opacity .15s linear;
    padding: 1rem;
    -webkit-box-shadow: 0px 0px 36px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 36px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 36px 5px rgba(0, 0, 0, 0.25);
    background-color: $bg-color-accent1;
  }

  &__item {
    cursor: pointer;
    height: 40px;
    border-radius: 5px;
    width: 100%;
    background-color: white;
    margin: .5rem 0;
    border: $border-color 1px solid;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .2s linear;

    span {
      font-weight: 400;
      font-size: 1em;
      margin: 0;
      transition: color .2s linear;
    }

    &--selected {
      background-color: $primary-color;

      span {
        color: $text-color-invert !important;
      }
    }
  }

}
