$primary-color: #0455bf;
$secondary-color: #20ca7e;

$orange: #ff7d17;

$text-color: #696969;
$text-color-invert: #f2f2f2;

$border-color: #f2f2f2;
$bg-color-accent1: #f9f9f9;
$bg-color-accent2: hsla(0, 0%, 86.7%, .15);

$red-value: #ff859c;
$green-value: #74ff92;
