@import "core/vars";

.Statistics {

  section {
    margin: 2rem 0;
  }

  &__flex-row {
    display: flex;
    flex-wrap: wrap;

    > div {
      flex: 1;
      margin-right: 2rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__row {
    width: calc(100% - 4rem);
    display: flex;
    flex-flow: row;
    align-items: stretch;
  }

  &__pie-container {
    height: 260px;
    width: 260px;
    position: relative;

    > span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2.5em;
      font-weight: 100;
    }
  }
}