@import 'core/vars';

.Delta {
  display: flex;
  align-items: center;
  font-size: .8em;
  margin-left: 1rem;
  font-weight: 500;

  &__icon {
    margin-right: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    border-radius: 5px;

    i {
      color: $red-value !important;
    }

    &--positive {
      i {
        color: $green-value !important;
      }
    }

    &--up {
      transform: rotate(-90deg);
    }
  }
}